.halloHead {
    background-color: black;
    color: red;
    height: 150px;
}

.halloBrand {
    margin: 0;
}

h1.isActive, h1.isNotActive {
    font-size: 100px !important;
    text-align: center;
    font-family: murderer;
}

img.supper {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

h1.isActive span.active{
    display: none;
}

h1.isNotActive span.notActive{
    display: none;
}

.draw{
    background: black;
}