.backForest{
  background: url('../src/img/forest.jpg');
  background-repeat: round;
}

.listCard{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.titleQ{
  text-align: center;
  color: brown;
  font-family: 'Staatliches', cursive;
}