.container{
    font-family: 'Staatliches', cursive;
}
h2.question {
    font-family: 'Staatliches', cursive;
    font-size: 2vw;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.displayTitle{
    font-family: 'Staatliches', cursive;
    font-size: 1.5vw;
    color: white;
}

.questionCount, .questionCount span{
    font-family: 'Staatliches', cursive;
    font-size: 1vw;
    font-weight: bold;
}

label.radioCustomLabel{
    font-family: 'Staatliches', cursive;
    font-size: 1.2vw;
    text-align: center;
}
.backQuizz{
    padding-bottom: 5px;
    background: none!important;

}